* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Nanum";
  src: url("./font/NanumMyeongjo.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("./font/Roboto-Bold.ttf");
  font-family: "Roboto-light";
  src: url("./font/Roboto-Thin.ttf");
}
